html, body {
  margin-top: 0 !important;
}

body {
  font-family: 'Duru Sans', sans-serif !important;
}
article.deck-container {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
}

#fixed-footer {
  position: fixed;
  bottom: 0;
  right: 10px;
  text-align: right;  
  margin-right: 10px;
  font-size: 22px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif !important;
}

ul li {
  font-size: 23px !important;
  list-style-type: none !important;
}

ul li > .smaller {
  font-size: 15px !important;
}

#noOpacity {
  opacity: 1 !important;
}

.deck-container {
  min-height: 850px !important;
}